@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: 'Lato','sans-serif';
}

.movie-description{
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    display: -webkit-box;
}

#movie-details-modal{
    margin-left: 12.5vw;
}

#movie-details-modal .modal-content{
    width: 75vw;
}